dist/dev/*.js
dist/prod/*.js
dist/prod/**
node_modules
builds/**
.idea/
*.map
.firebase
.DS_Store

functions/.runtimeconfig.json
functions/node_modules
functions/lib/*.js
functions/adminkey.json
functions/certs.json
